[init]
	defaultBranch = main
[user]
	email = garrett.zuck@gmail.com
	name = Garrett Zuck
	signingkey = 4C3CFA41D21CA51D
[core]
	editor = code --wait
[pull]
	ff = only
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
